<main>
    <div class="Classes">
        <div style="padding-left:21%; padding-top:11%;"> @Html.ActionLink("First class", "Result", "Home", new { C_id = 1 }, new { @class = "navbar-brand" })</div>
        <div style="padding-left:21%; padding-top:11%;"> @Html.ActionLink("Second class", "Result", "Home", new { C_id = 2 }, new { @class = "navbar-brand" })</div>
        <div style="padding-left:21%; padding-top:11%;"> @Html.ActionLink("Third class", "Result", "Home", new { C_id = 3 }, new { @class = "navbar-brand" })</div>
    </div>
    <div class="Classes">
        <div style="padding-left:21%; padding-top:11%;"> @Html.ActionLink("Fourth class", "Result", "Home", new { C_id = 4 }, new { @class = "navbar-brand" })</div>
        <div style="padding-left:21%; padding-top:11%;"> @Html.ActionLink("Fifth class", "Result", "Home", new { C_id = 5 }, new { @class = "navbar-brand" })</div>
        <div style="padding-left:21%; padding-top:11%;"> @Html.ActionLink("Sixth class", "Result", "Home", new { C_id = 6 }, new { @class = "navbar-brand" })</div>
    </div>

</main>

