
<div class="containerr">
    <main>
          
                <div class="Classes">
                    <div style="padding-left:21%; padding-top:11%;"> @Html.ActionLink("Math", "Contact", "Home", new { D_id = 1 }, new { @class = "navbar-brand" })</div>
                    <div style="padding-left:21%; padding-top:11%;"> @Html.ActionLink("Phisics", "Contact", "Home", new { D_id = 2 }, new { @class = "navbar-brand" })</div>
                    <div style="padding-left:21%; padding-top:11%;"> @Html.ActionLink("English", "Contact", "Home", new { D_id = 3 }, new { @class = "navbar-brand" })</div>
                </div>
                <div class="Classes">
                    <div style="padding-left:21%; padding-top:11%;"> @Html.ActionLink("biology", "Contact", "Home", new { D_id = 4 }, new { @class = "navbar-brand" })</div>
                    <div style="padding-left:21%; padding-top:11%;"> @Html.ActionLink("arithmetic", "Contact", "Home", new { D_id = 5 }, new { @class = "navbar-brand" })</div>
                    <div style="padding-left:21%; padding-top:11%;"> @Html.ActionLink("computer science", "Contact", "Home", new { D_id = 6 }, new { @class = "navbar-brand" })</div>
                </div>
            
        </main>
</div>
            
